
    <div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Responsables</div>
  <div class="shadow p-3 position-relative">

<h2>Add Responsable</h2>
<form action="">
  <section class="center">
    <div class="input-container">
      <label for="firstName">firstName</label>
      <input type="text" />
    </div>
    <div class="input-container">
      <label for="lastName">lastName</label>
      <input type="text" />
    </div>
    <div class="input-container">
      <label for="email" required>email</label>
      <input type="text" />
    </div>
    <div class="input-container">
      <label for="login">login</label>
      <input type="text" />
    </div>
    <div class="input-container">
      <label for="password">password</label>
      <input type="password" />
    </div>
  </section>
  
  <div class="send-container">
      <button mat-raised-button color="primary">Add</button>
   </div>
</form>
  </div>
</div>