
  <div class="logo py-2">
    <img src="./assets/logopaypos.png" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
 <mat-nav-list>
  
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/dashboard">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/kiosks">
    	<mat-icon>airplay</mat-icon> Kiosks management
  </a>
 <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/devices">
    <mat-icon>settings_input_component</mat-icon> Devices management
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/responsables">
    <mat-icon>supervised_user_circle</mat-icon> Responsabeles management
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/cashbox">
    	<mat-icon> monetization_on</mat-icon>cashbox management
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/transactions">
   <mat-icon>swap_horiz</mat-icon>Transactions
  </a>
   <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/home">
  <mat-icon>logout</mat-icon>Exit
  </a>
</mat-nav-list>
