<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.svg" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    	<mat-icon>airplay</mat-icon> Kiosks management
  </a>
 <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>settings_input_component</mat-icon> Devices management
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>supervised_user_circle</mat-icon> Responsabeles management
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    	<mat-icon> monetization_on</mat-icon>cashbox management
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
   <mat-icon>swap_horiz</mat-icon>Transactions
  </a>
</mat-nav-list>
