   <div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Notifications</div>
  <div class="shadow p-3 position-relative">
 
     <mat-card> 
 <table class="mytable">
 
</table>

<table class="table table-hover">
   <thead>
    <tr>
      <th scope="col">#id</th>
      <th scope="col">title</th>
      <th scope="col">type</th>
      <th scope="col">description</th>
      <th scope="col">device</th>
       <th scope="col"></th>
       <th scope="col"></th>
       <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let obj of dataSource; let i=index;">
      <td>{{obj.id}}</td>
      <td>{{obj.title}}</td>
      <td>{{obj.type}}</td>
      <td>{{obj.description}}</td>
      <td>{{obj.device}}</td>
      <td> 
        <button mat-icon-button  class="darkcyanbutton"  aria-label="Example icon button with a heart icon">
     <mat-icon>remove_red_eye</mat-icon>
      </button>
      </td>
      <td>
      <button mat-icon-button class="greenbutton" aria-label="Example icon button with a heart icon">
<mat-icon>edit</mat-icon>
      </button>
      </td>
      <td>
      <button mat-icon-button  color="accent"  aria-label="Example icon button with a heart icon">
     <mat-icon>delete_outline</mat-icon>
      </button>
    
      </td>
    </tr>
  </tbody>
</table>
  </mat-card>



  </div>
</div>