
          <button
            mat-button
            [matMenuTriggerFor]="menu"
            class="user mt-2 d-flex align-items-center"
          >
         
          <mat-icon matBadge="4" matBadgeColor="warn" class="notification-button__icon">notifications_none</mat-icon>
</button>
 <mat-menu #menu="matMenu">
  <button mat-menu-item class="notification-menu__button">
    check out this awesome ticket
  </button>
  <button mat-menu-item class="notification-menu__button">
    What is the best way to get ...
  </button>
  <button mat-menu-item class="notification-menu__button">
    This is just a simple notification
  </button>
  <button mat-menu-item class="notification-menu__button">
    12 new orders has arrived today
  </button>
<a routerLink="/admin/notifications">  <button mat-button color="primary">
   show more ....
  </button> </a>
</mat-menu>