
          <button
            mat-button
            
            [matMenuTriggerFor]="menu"
            class="user mt-2 d-flex align-items-center"
          >
         
          <mat-icon [matBadge]="dataSource.length"  matBadgeColor="warn" >notifications_none</mat-icon>
</button>

 <mat-menu #menu="matMenu">
  <button mat-menu-item class="notification-menu__button">
   {{dataSource[0].description }}   {{dataSource[0].type}}
  </button>
  <button mat-menu-item class="notification-menu__button">
  {{dataSource[1].description}}   {{ dataSource[1].type}}
  </button>
  <button mat-menu-item class="notification-menu__button">
    {{dataSource[2].description }}   {{dataSource[2].type}}
  </button>
  <button mat-menu-item class="notification-menu__button">
  {{dataSource[3].description}}    {{dataSource[3].type}}
  </button>
<a routerLink="/admin/notifications">  <button mat-button color="primary">
   show more ....
  </button> </a>
</mat-menu>