
  <div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Kiosks</div>
  <div class="shadow p-3 position-relative">

<h2>Add Kiosk</h2>
<form action="">
  <section class="center">
    <div class="input-container">
      <label for="Id">reference</label>
      <input type="text" />
    </div>
    <div class="input-container">
      <label for="Name">Name</label>
      <input type="text" />
   </div>
   <div class="input-container">
   <label for="Kiosk">Kiosk</label>
   <div class="select">
   
  <select name="slct" id="slct">
    <option selected disabled>Choose an option</option>
    <option value="1">Pure CSS</option>
    <option value="2">No JS</option>
    <option value="3">Nice!</option>
  </select>
</div>
 </div>
  </section>
  
  <div class="send-container">
      <button mat-raised-button color="primary">Add</button>
   </div>
</form>
  </div>
</div>