
  <div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Devices</div>
  <div class="shadow p-3 position-relative">

<h2>Add Device</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <section class="center">
    <div class="input-container">
      <label for="reference">Reference</label>
      <input type="text" formControlName="reference" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.reference.errors }" />
                    <div *ngIf="submitted && f.reference.errors" class="invalid-feedback">
                        <div *ngIf="f.reference.errors.required">Reference is required</div>
                        </div>
    </div>
    <div class="input-container">
      <label for="name">Name</label>
      <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">Name is required</div>
                        </div>
   </div>
   <div class="input-container">
   <label for="kiosk">Kiosk</label>
   <div class="select">
   
  <select formControlName="kiosk" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.kiosk.errors }">
    <option value=""></option>
    <option value="1">Pure CSS</option>
    <option value="2">No JS</option>
    <option value="3">Nice!</option>
  </select>
</div>
  <div *ngIf="submitted && f.kiosk.errors" class="invalid-feedback">
                        <div *ngIf="f.kiosk.errors.required">Kiosk is required</div>
                    </div>
 </div>
  </section>
  
  <div class="send-container">
      <button mat-raised-button color="primary">Add</button>
   </div>
</form>
  </div>
</div>